@charset "UTF-8";

/* Estilo para telas */ 

* {
    margin: 0px;
    padding: 0px;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header{
    background-color: lightgray;
    text-align: center;
}

header > menu{
    background-color: gray;
    text-decoration: underline;
}

main{
    padding: 10px;
}

article{
    width: 600px;
    display: block;
    margin: auto;
}

article p{
    text-align: justify;
}