@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

*{
    margin: 0px;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
    
    
}

header > h1{
    font-family: "Passion One", sans-serif;
    font-style: normal;
    font-size: 4em;
    font-weight: bold;
}

header a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

main p{
    padding: 30px 0px 40px 20px;
    font-family: "Sriracha", cursive;
    font-size: 1.5em;
    line-height: 2em;
}

.imagem p{
    color:white;
    background-color: rgba(211, 211, 211, 0.143);
    width: 400px;
}

section#q1{
    background-image: url('../imagens/background001.jpg');
    background-size: 100% 100%;
}

section#q2{
    background-image: url('../imagens/background002.jpg');
    background-size: 100% 100%;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

