@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #233EFF;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
}

h1{
    padding: 10px;
    text-shadow: 1px 1px 2px black;
    color: white;
}